body {
    background-image: url("../img/viking.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 5rem;
    margin-top: 7rem;
    width: 100vw;
    text-align: center;
    margin-bottom: 2rem;
    user-select: none;
}

form {
    width: 100vw;
    text-align: center;
}

input {
    text-align: center;
    font-size: 2rem;
    height: 4rem;
    width: 25rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#links {
    width: 100%;
    text-align: center;
}

.red {
    color: red;
    background-color: white;
    opacity: 70%;
}